<section class="hero-section">
  <!-- Fondo animado -->
  <div class="background-animation">
    <div class="stars"></div>
    <div class="diamonds"></div>
    <canvas id="tech-canvas"></canvas>
  </div>

  <!-- Contenido principal -->
  <div class="hero-section">
    <h1 class="animated-title">Bienvenidos AuraGK</h1>
  </div>
</section>
