<!-- sections/hero.liquid -->
<section class="hero">
  <div class="hero-content">
    <h1>Bienvenido AuraGK</h1>
  </div>
</section>

<div class="box">
  <div class="inner">
    <span>Hello World</span>
  </div>
  <div class="inner">
    <span>Hello World</span>
  </div>
</div>
